@model Students.Web.Models.UserViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sterge utilizatorul</h2>

<h3>Esti sigur ca vrei sa stergi utilizatorul?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           User Id: <strong>@Model.Id</strong>
        </dt>
        <dd>
            <strong>Nume: </strong> @Model.UserName
        </dd>
        <dd>
            <strong>Adresa email: </strong>@Model.Email
        </dd>
        <dd>
            <strong>Strada: </strong>@Model.Adresa.Street
        </dd>
        <dd>
            <strong>Oras: </strong>@Model.Adresa.City
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "User", FormMethod.Post))
    {

        <div class="form-actions no-color">

            @Html.HiddenFor(x => x.Id)

            <input type="submit" value="Sterge-l!" style="color:red" class="btn btn-default" /> |

            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
