@model Students.Web.Models.UserViewModel

@{
    ViewBag.Title = "User Details";
}

<h2>User details</h2>

<div>
    <table>
        <tr>
            <td>Id user: </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Nume:</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>Adresa Email: </td>
            <td> @Model.Email</td>
        </tr>
        <tr>
            <td>Strada: </td>
            <td> @Model.Adresa.Street</td>
        </tr>
        <tr>
            <td>Oras: </td>
            <td> @Model.Adresa.City</td>
        </tr>
        <tr>
            <td>Sex: </td>
            <td> @Model.Sex</td>
        </tr>
    </table>
</div>